<div>
  <h2>
    {{pageTitle}}
  </h2>
  <div class="success">{{successMessage}}</div>
  <div class="error">{{errorMessage}}</div>
  <div class="acct-container">
    <p>Normally on historical transactions I wouldn't want changes or deletes allowed on the front end
        like this unless this was a super user. I just wanted to show it.</p>
    <div class="input-container">
      <div class="input-item">
        <label>User ID</label>
        <input [(ngModel)]='account.userId'>
      </div>
      <div class="input-item">
        <label>Stock ID</label>
        <input (change)="getPrice()" [(ngModel)]='account.stockId'>
      </div>
      <div class="input-item">
        <label>Purchase Amount (USD)</label>
        <input (change)="getPrice()" [(ngModel)]='account.purchaseAmount'>
      </div>
      <div class="input-item">
        <label>Current Stock Price</label>
        <span>{{this.account.price | currency}}</span>
      </div>
      <div class="input-item">
        <label>Shares</label>
        <span>{{ this.account.shares}}</span>
      </div>
    </div>
    <div class="button-container">
      <button class="btn" (click)="addAccount($event)">Add</button>
      <button class="btn" (click)="changeAccount($event)">Change</button>
      <button class="btn left" (click)="deleteAccount($event)">Delete</button>
      <div class="goback-container">
        <button class="btn" (click)="goBack()">Back to List</button>
      </div>
    </div>
  </div>

</div>